<!-- <mat-toolbar class="text-center w-100">
  <h1 class="container-fluid fw-bold"> Administracion de asistencias</h1>
</mat-toolbar> -->
<!-- <mat-list class="d-flex wrapper">
  <mat-list-item>Item 1</mat-list-item>
  <mat-divider [vertical]="true"></mat-divider>
  <mat-list-item>Item 2</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>Item 3</mat-list-item>
</mat-list> -->

<div class="d-flex align-items-center justify-content-around">
  
  <mat-list  class="mt-3" style="width: 800px; height: 530px; border-radius: 17px;
  background: #f0f0f0;
  box-shadow: inset -19px -19px 37px #cccccc,
              inset 19px 19px 37px #ffffff;">
    <mat-list-item  *ngFor="let registro of asistenciaList">
      <div class="d-flex justify-content-around container-fluid">
        <div><strong> Usuario: </strong> {{registro.ventaSuscripcion.nombreCliente}}</div>
        <mat-divider [vertical]="true"></mat-divider>
        <div> <strong> Asistencia: </strong> {{registro.fechaAsistencia | date:'yyyy-MM-dd' }}</div>
        <div></div>
        <div><strong> Hora: </strong> {{ registro.fechaAsistencia.slice(11, 19) }}</div>
        
      </div>
      
      <mat-divider class=""></mat-divider>

    </mat-list-item>
    
  </mat-list>

  <div class="card">
    <div class="tools border-light border-5 border-bottom">
      <div class="circle border-bottom">
        <span class="red box"></span>
      </div>
      <div class="circle">
        <span class="yellow box"></span>
      </div>
      <div class="circle">
        <span class="green box"></span>
      </div>
    </div>


    <div class="card__content" >

        <div class="">
          <img class="w-100" style="border-radius: 22px" width="" height="auto" src="https://cdn.leonardo.ai/users/9459b192-3414-41c3-8a4e-c9f2ac7dece0/generations/2b7167a9-2279-4e65-9555-c03556ba1405/DreamShaper_v7_style_japonese_art_poster_4k_person_ultra_real_0.jpg?w=512" alt="">
          

        </div>

        <div class="d-flex align-items-center m-auto " style="height:30%">


          <p class="fw-bold text-center w-50 p-2">
            ¡Para registrar el ingrese consulte la Cedula!
          </p>
          <div class="vr" style=" width: 1.5px;"></div>



     <div class="m-auto">
      <mat-form-field appearance="outline">
        <mat-label>Cedula cliente</mat-label>
        <input  matInput type="text" maxlength="10" #ci (input)="formatCi($event)" placeholder="09xxxxxx" formControlName="ci">
      </mat-form-field>


      <button  [disabled]="estadoEnviar" (click)="registrarAsistencia()"  class="fw-bold text-center d-flex" color="primary"  mat-raised-button >
        Ingresar Asistencia
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-search" viewBox="0 0 18 18">
          <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
        </svg>
      </button>
     </div>


        </div>
    </div>
  </div>


  
</div>